  
 *{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif; 
}
body,html 
{
	padding-top:0;
	background: url("Phamacy.jpeg") no-repeat center center fixed;
	background-position: top; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;	
	background-position:50% 50%;
}
.header{
   width: 100%;
   height: 80px;
   display: block; 
   background-color: #101010;
   position: fixed;
}
.inner_header{
    width: 1000px;
   height: 100%;
   display: block; 
   margin: 0 auto;
   background-color: #101010;
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family:"Tangerine" ; 
    font-size: 32px;
    font-weight: 200px;

}
.logo_container h1 span{
    font: weight 800px ;
}
.navigation{
    float: right;
    height: 100%;
    
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
     
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: "Montsterrat";
    font-size: 16px;
    position: relative;
     
}
.navigation a li::after{
    content:'';
    height: 3px;
    width: 0%;
    background: #4add74;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    transition: 0.5s;
}
.navigation a:hover li::after, .navigation a.active li::after {
    width: 100%;
}
#footer
{
	z-index:10;
	width:100%;
	background:#4d4d4d;
	text-align: center;
	padding: 5px;
	padding-left:20px; padding-right:20px;
	color: #fff;
	margin-left:auto; margin-right:auto;
}
.page_content{
    margin:0;
	width:80%; min-height:100%;
	clear: left;
	padding: 20px;
	padding-top:50px;
	margin-left:auto;
	margin-right:auto;
	 
    background-color: rgba(255, 255, 255, 0.6);
}
.page_content p{
     color: #101010;
}
.page_content h1
{
	color:#533c2d;
	font-size: 100;
	margin:  100px 0 10px;
	font-family: 'Major Mono Display', monospace;
    text-align: center;
}
.page_content h4
{
	color:#533c2d;
	font-size: 30;
	margin: 10px;
	font-family: 'Major Mono Display', monospace;
    text-align: center;
}

#medSerchBUT{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 100px 10px 500px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #9e4e20;
    background: transparent;
    color: #da8b1c;
    cursor: pointer;
    align-items: center;

}
#logbut{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 200px 10px 500px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #9e4e20;
    background: transparent;
    color: #da8b1c;
    cursor: pointer;
    align-items: center;
}

     
.content_contact{
    align-items: center;
    margin:0;
	width:80%;
    height:100%;
	clear: left;
	padding: 20px;
	padding-top:50px;
	margin-left:auto;
	margin-right:auto;
    background-color: rgba(255, 255, 255, 1);
}

.content_links{
    background-color: #969393;
    width: 100%;
    padding: 20px;
    margin:0;
	width:80%;
    height:100%;
	clear: left;
	padding: 20px;
	padding-top:50px;
	margin-left:auto;
	margin-right:auto;
     
}

.links{
    margin:0;
	width:70%;
    height:60%;
	clear: left;
	padding: 20px;
	padding-top:50px;
    align-items: center;
	margin-left:auto;
	margin-right:auto;
    
}